@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,900&display=swap');

* {
    font-family: Lato, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.header {
    background: #222222;
    height: 74px;
    padding: 18px 16px;
    box-sizing: border-box;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.usericon,
.carticonwrap {
    display: none;
}

.brandleft {
    display: none;
}

.offer_container {
    margin: 0 auto;
    max-width: 1140px;
    display: grid;
    gap: 32px;
    grid-template-areas:
        "women"
        "men"
        "kids"
        "acces"
    ;
    margin-top: 64px;
    margin-bottom: 97px;
    padding-left: 16px;
    padding-right: 16px;
}

@media (min-width: 768px) {

    .usericon,
    .carticonwrap {
        display: inline;
    }

    .header {
        padding: 18px 32px;
    }

    .brand {
        display: flex;
        margin: 0 auto;
    }

    .brand>div {
        width: 50%;
    }

    .brandleft {
        min-height: inherit;
        display: block;
    }

    .offer_container {
        gap: 30px;
        grid-template-areas:
            "women men kids"
            "acces acces acces"
        ;
        margin-top: 64px;
        margin-bottom: 97px;
    }
}

.usericon {
    margin-left: 25px;
    margin-right: 42px;
}

.searchicon {
    margin-left: 41px;
}

.carticonwrap {
    position: relative;
}

.carticonwrap span {
    color: white;
    background: #F16D7F;
    position: absolute;
    border-radius: 50%;
    width: 19px;
    height: 19px;
    display: inline-block;
    text-align: center;
    right: -8px;
    top: -19px;

    font-size: 12px;
    line-height: 19px;
}

.brandright {
    padding-top: 148px;
    padding-bottom: 148px;
    background: #F1E4E6;
    min-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #222222;
}

.brand .container {
    min-height: 363px;
}

.brandrighttext {
    border-left: 12px solid #F16D7F;
    padding-left: 15px;
    height: 61px;
}

.brandrighttext div:first-child {
    font-weight: 900;
    font-size: 38px;
    line-height: 27px;
}

.brandrighttext div:last-child {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    margin-top: 14px;
}

.brandrighttext span {
    color: #F16D7F;
}

.man {
    width: 100%;
}

@media (min-width: 1600px) {
    .container {
        margin: 0 auto;
        width: 1140px;
    }

    .brandright {
        justify-content: flex-start;
    }

    .brandrighttext {
        margin-left: 64px;
    }

    .brandrighttext div:first-child {
        font-size: 48px;
    }

    .brandrighttext div:last-child {
        font-size: 32px;
        margin-top: 21px;
    }
}

.offer_container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.offerwomen {
    grid-area: women;
    position: relative;

}

.offermen {
    grid-area: men;
    position: relative;

}

.offerkids {
    grid-area: kids;
    position: relative;

}

.offeracces {
    grid-area: acces;
    position: relative;
    min-height: 112px;

}

.offertext {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.offertexttop {

    font-family: Lato;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.offertextbottom {

    font-family: Lato;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}

.textfeaturedtop {
    text-align: center;
    font-family: Lato;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}

.textfeaturedbottom {
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

.featured {
    margin-top: 48px;
    padding-left: 16px;
    padding-right: 16px;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    gap: 30px;
}

.texthead {
    font-family: Lato;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    margin-top: 25px;
}

.descript {
    font-family: Lato;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin-top: 13px;
    margin-bottom: 18px;
}

.price {
    font-family: Lato;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    margin-bottom: 18px;
}

.card img {
    object-fit: cover;
    width: 100%;
    display: block;
}

.card {
    background: #F8F8F8;
    box-shadow: 5px 10px 50px #f7ecee6b;
}

@media (max-width: 768px) {
    .featured {
        display: grid;
        grid-template: 1fr 1fr 1fr / 1fr 1fr;
        gap: 16px;
    }

    .servicewrap {
        flex-direction: column;
    }
}

@media (max-width: 390px) {
    .featured {
        display: grid;
        grid-template: 1fr 1fr 1fr 1fr 1fr 1fr / 1fr;
        gap: 32px;
    }
}

.featured_button {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 95px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #F16D7F;
    box-shadow: 5px 10px 20px 5px rgb(53 110 173 / 20%);
    border-radius: 10px;
    padding: 15px 50px;
    text-decoration: none;
    display: inline-block;
    margin-top: 63px;
}

.button_f {
    text-align: center;
}

.card_text {
    padding: 24px 28px 20px 16px;
}

.cardwrap {
    position: relative;
}

.darkbutton {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: hsla(0, 2%, 22%, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
}

.darkbutton button {
    background: none;
    border: 1px solid white;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px 14px;
    font-size: 14px;
    font-family: inherit;
}

.darkbutton button img {
    width: 26px;
    height: 24px;
    margin-right: 11px;
}

.card:hover .darkbutton {
    display: flex;
}

.services {
    background: #222224;
}

.servicewrap {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 16px;
    padding-right: 16px;
    min-height: 341px;
}

.servicehead {
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    margin-top: 28px;
    margin-bottom: 16px;
}

.service1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
    margin-left: 30px;
}

.service3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicetext {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #FBFBFB;
    text-align: center;
    opacity: 0.6;
}

@media (max-width: 768px) {
    .service2 {
        margin-right: 0px;
        margin-left: 0px;
    }

    .servicewrap>div {
        max-width: 360px;
        margin-top: 48px;
        margin-bottom: 48px;
    }

}

.footertop {
    background-image: url(images/footerbgi.png);
    min-height: 448px;
    background-size: cover;

}

.footertopwrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 1140px;
    margin: 0 auto;
}

.footertopleft {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 360px;
    margin-top: 150px;
}

.girltext {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
    margin-top: 30px;
}

.footerrighthead {
    font-weight: 700;
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
}

.footerrighttext {
    font-weight: 400;
    font-size: 18px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
    margin-top: 16px;
    margin-bottom: 32px;
}

.footerform {
    height: 47px;
}

.footerform input::-webkit-input-placeholder {
    color: #222224;
    font-family: inherit;
    opacity: 0.67;
}

.footerform input::-moz-placeholder {
    color: #222224;
    font-family: inherit;
    opacity: 0.67;
}

.footerform input:-ms-input-placeholder {
    color: #222224;
    font-family: inherit;
    opacity: 0.67;
}

.footerform input:-moz-placeholder {
    color: #222224;
    font-family: inherit;
    opacity: 0.67;
}

.footerform input {
    height: inherit;
    background: #E1E1E1;
    border: none;
    padding: 6px 21px;
    border-top-left-radius: 28px;
    border-bottom-left-radius: 28px;
    float: left;
}

.footerform button {
    height: inherit;
    background: #E05C6E;
    border: none;
    padding: 7px;
    color: white;
    font-size: 14px;
    line-height: 17px;
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
}

.footertopright {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 360px;
    margin-top: 150px;
}

.footerbottom {
    background: #222224;
    min-height: 79px;
}

.footerbottom .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 32px;
}

.footerleft {
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

@media (max-width: 768px) {
    .footertopwrap {
        flex-direction: column;
    }

    .footertopleft {
        margin-top: 64px;
        margin-bottom: 48px;
    }

    .footertopright {
        margin-top: 0px;
        margin-bottom: 140px;
    }

    .footerbottom .container {
        padding: 30px 16px;
    }
}

@media (max-width: 390px) {
    .footertopleft {
        margin-bottom: 64px;
    }

    .footertopright {
        margin-bottom: 109px;
    }

    .footerbottom .container {
        flex-direction: column-reverse;
        padding-top: 43px;
    }

    .footerleft {
        padding-top: 40px;
    }
}

/* catalog */
.new_arrivals {
    background: #F8F3F4;
    min-height: 148px;
    padding-left: 32px;
    padding-right: 32px;
}

.new_arrivals .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: inherit;
}

.leftnew {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}

.rightnew {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
}

.new {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
}

.filters {
    display: flex;
    min-height: 132px;
    align-items: center;
    padding-left: 32px;
    padding-right: 32px;
}

.left_filter {
    display: flex;
    align-items: center;
}

.left_filter>div {
    font-family: 'Lato';
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

.left_filter>img {
    padding-left: 11px;
}

.right_filter {
    display: flex;
    padding-left: 320px;
    align-items: center;
}

.right_filter>img {
    padding-left: 10px;
    padding-right: 28px;
}

.right_filter>div {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}

@media (max-width: 768px) {
    .new_arrivals {
        padding-left: 16px;
        padding-right: 16px;
    }

    .filters {
        padding-left: 16px;
        padding-right: 16px;
        justify-content: space-between;
    }

    .right_filter {
        padding: 0px;
    }

    .right_filter>img:last-child {
        padding-right: 0px;
    }
}

@media (max-width: 390px) {
    .new_arrivals .container {
        flex-direction: column;
        justify-content: center;
    }

    .rightnew {
        padding-top: 32px;
    }

    .left_filter>div {
        display: none;
    }

    .right_filter>div {
        font-size: 12px;
        line-height: 14px;
    }

    .left_filter>img {
        padding-left: 0px;
    }
}

.arrivals {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    gap: 30px;
    padding-left: 16px;
    padding-right: 16px;
}

.pagination {
    width: 284px;
    height: 44px;
    margin: 0 auto;
    border: 1px solid #EBEBEB;
    margin-top: 48px;
    margin-bottom: 96px;
    padding: 13px;
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    box-shadow: 5px 10px 20px 5px rgb(53 110 173 / 13%);
}

.pagination a {
    text-decoration: none;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #C4C4C4;
}

.pagination a:hover {
    color: #EF5B70;
}

@media (max-width: 768px) {
    .arrivals {
        display: grid;
        grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr;
        gap: 16px;
    }

    .arrivals>div:nth-child(3) {
        display: none;
    }
}

@media (max-width: 390px) {
    .arrivals {
        display: grid;
        grid-template: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr / 1fr;
        gap: 32px;
    }
}